<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node App</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <h3>Welcome to Node App</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      blanditiis quibusdam repellat consequuntur soluta maxime iure. Est
      doloremque accusamus iste id, reprehenderit dolorem distinctio voluptatem
      placeat tempore dignissimos, aliquam illo!
    </p>
  </body>

  <script src="templates\scripts\script.js"></script>
</html>
